
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: #FFFFFF;
    background: #DF2E38;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
 }

h2{
    color: #FFFFFF;
    background: #FF52A2;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
}

p{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    
}

img{
    width:1100px;/*tamaño de ancho*/
    /*tamaño de alto*/
    border-radius: 20%;
    border: 1ps solid black                                             ;
  

}

.container{
    background-color: #000000;
}
 